body {
  background: linear-gradient(to right, #f0c27b, #4b1248);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Style the navbar */



.navbar {
  position: fixed; /* Fix the navbar to the top of the page */
  top: 0; /* Align the top of the navbar with the top of the page */
  left: 0; /* Align the left of the navbar with the left of the page */
  width: 100%; /* Set the width of the navbar to 100% */
  border-radius: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.navbar:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #f8f9fa;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.world-clock-section {
  margin-top: 80px; /* Adjust the value according to the desired space */
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 200px;
}

.clock:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.city-name {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}


.destination-section {
  padding: 60px 0;
  background-color: #f8f9fa;
  color: #333;
}

.destination-section h2 {
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 40px;
}

.destination {
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.destination img {
  width: 100%;
  height: auto;
  display: block;
}

.destination h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin: 1rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
